html,body{
	height:100%;
	margin:0;
	padding: 0;
}
.box{
	width: 100%;
	height: 100%;
	background: url(../image/01976f55cb02a932f8755e66e1b563.jpg);
	background-size: cover;
	position: relative;
}
.btn,.btn1{
	width: 100px;
	height: 50px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 50px;
	background: rgba(255,255,255,0.5);
	position: absolute;
}
.btn{
	right: 50px;
	top:50px;	
}
.btn1{
	right: 50px;
	top:150px;	
}
.neirong{
	width: 150px;
	height: 50px;
	background: rgba(255,255,255,0.5);
	color: red;
	text-align: center;
	line-height: 50px;
	font-size: 50px;
	position: absolute;
	right: 20px;
	top:250px;
}